There are {{ missing_tag | length }} AWS instances missing the owner tag on region {{ ec2_region }}

AWS instance_id     Launch_Date                Name
{% for instance in ec2_node_info.instances %}
{% if instance.instance_id in missing_tag %}
{{ instance.instance_id }} {{ instance.launch_time }} {% if instance.tags.Name is defined %} {{ instance.tags.Name }} {% endif %}

{% endif %}
{% endfor %}
